body{
            color: #2d3c49;
            font-size: 10px;
            margin: 0 50px; 
        }

        .page-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 30px 0 20px;
            height: 70px;
            border-bottom: 5px solid #7d97ad;
        }

        .page-header-logo{
            width: auto;
            height: 100%;
        }

        .page-header-title{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: right;
        }

        .page-header .author{
            font-weight: 100;
            font-size: 40px;
            white-space: nowrap;
        }

        .page-header .job{
            font-size: 16px;
        }

        .page-main {
            display: flex;
            flex-direction: column;
        }

        .page-main .main-cover{
            margin: 20px 0;
            width: 100%;
        }

        .page-main .pro-list-title{
            color: #7d97ad;
            font-size: 30px;
            margin-bottom: 15px;
        }

        .page-main .pro-list{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .page-main .pro-item{
            display: flex;
            flex-direction: column;
            width: 30%;
            align-items: center;
        }

        .page-main .pro-item:not(:last-child){
            margin-bottom: 30px;
        }

        .page-main .pro-item img{
            width: 100%;
        }

        .page-main .pro-item .item-title{
            font-size: 25px;
            margin: 10px 0;
        }

        .page-main .pro-item .link,
        .page-main .pro-item .link:link, 
        .page-main .pro-item .link:visited{
            font-size: 12px;
            word-break: break-all;
            text-align: center;
            color: #02b3e4;
            text-decoration: none;
        }

         .page-main .pro-item .link:hover{
            color: #ddd;
         }

          @media screen and  (min-width: 1050px){    
            body{
                width: 950px;
                margin: 0 auto;
                height: auto;
            }

            .page-main .main-cover{
                height: auto;
                min-height: 400px;
            }
        }

        @media screen and (max-width: 1049px) and (min-width: 800px){
            .page-header{
                height: 70px;
            }

            .page-main .main-cover{
                height: auto;
            }
        }

        @media screen and (max-width: 799px) and (min-width: 769px){
            .page-main .main-cover{
                height: auto;
            }
        }

        @media screen and (max-width: 768px) and (min-width: 451px){
            .page-main .main-cover{
                height: auto;
            }

            .page-main .pro-item{
                width: 45%;
            }

            .page-main .pro-item .link,
            .page-main .pro-item .link:link,
            .page-main .pro-item .link:visited{
                color: #02b3e4;
            }
        }

        @media screen and (max-width: 450px){
            body{
                font-size: 7px;
            }

            .page-header{
                height: 50px;
            }

            .page-header .author{
                font-size: 25px;
            }

            .page-header .job{
                font-size: 12px;
            }

            .page-main .main-cover{
                height: auto;
            }

            .page-main .pro-list-title{
                font-size: 25px;
            }

            .page-main .pro-item .item-title{
                font-size: 21px;
            }

            .page-main .pro-item{
                width: 100%;
            }

            .page-main .pro-item .link,
            .page-main .pro-item .link:link,
            .page-main .pro-item .link:visited{
                color: #02b3e4;
            }
        }